<div>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="john.doe@gmail.com">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="*********">
  </mat-form-field>

  <button mat-flat-button color="accent"
    (click)="login( this.email, this.password )"
  >
    Sign In
  </button>

  <hr> or <hr>

  <button mat-flat-button color="accent">Visit as guest...</button>
</div>
