<div>

  <form formGroup="loginForm">

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input matInput type="text" name="email"
        [(ngModel)]="email"
        placeholder="john.doe@gmail.com"
        formControlName="email"
      >
    </mat-form-field>

    <mat-form-field appearance="outline" color="accent">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password"
        [(ngModel)]="password"
        placeholder="*********"
        formControlName="password"
      >
    </mat-form-field>

    <button mat-flat-button color="accent"
      (click)="login( this.emailValue, this.passwordValue)"
      [disabled]="!loginForm.valid"
    >
      Sign In
    </button>

  </form>

  <hr> or <hr>

  <button mat-flat-button color="accent">Visit as guest...</button>

</div>
